.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 50vh;
  background-image: url('/static/acasa.png');
  background-repeat: no-repeat;
  background-position: center;
}

h1,
h2 {
  font-family: 'Big Caslon';
}

h1 {
  font-size: 5rem;
  mix-blend-mode: luminosity;
  color: rgb(255, 179, 102);
}

img {
  height: 10vh;
}
